table {
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    margin: 0;
    padding: 10px;

}

th {
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}

.editable{
    background-color: white;
}

.activeInput{
    width: 80%;
}

.searchBar{
    visibility: visible;
}

.inputs {
    width: 80%;
}

.invisible{
    visibility: collapse;
}

.button{}